body {
    display: flex;
}


div {
    height: auto;
    width: 400px;
    background-color: red;
    text-align: center;
    padding: 36px;
    border-radius: 20%;
    margin: 0 20px 0 0;
}
span {
    color: blue;
    font-size: 20px;
}
